<!DOCTYPE html>
<html>
<head>
    <title>Real Time Products</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Real Time Products</h1>
    <ul id="product-list">
        {{#each products}}
            <li data-id="{{this.id}}">{{this.title}} - {{this.price}} <button onclick="deleteProduct({{this.id}})">Delete</button></li>
        {{/each}}
    </ul>

    <h2>Add a new product</h2>
    <form id="product-form">
        <input type="text" id="title" placeholder="Title" required>
        <input type="text" id="description" placeholder="Description" required>
        <input type="text" id="code" placeholder="Code" required>
        <input type="number" id="price" placeholder="Price" required>
        <input type="number" id="stock" placeholder="Stock" required>
        <input type="text" id="category" placeholder="Category" required>
        <input type="text" id="thumbnails" placeholder="Thumbnails">
        <button type="submit">Add Product</button>
    </form>
    
    <!-- Mover el script al final del cuerpo -->
    <script src="/js/realTimeProducts.js"></script>
</body>
</html>
